.card {
    transition: transform 0.3s ease; /* Adding a scaling transition on the transform property */
  }
  
  .card:hover  {
    transform: scale(1.1); /* Scaling up by 10% on hover */
  }

  .custom-dots {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px; /* Adjust as needed */
  }